@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Manrope&display=swap);
nav.navbar {
  z-index: 300;
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  padding: 2em;
}
nav.navbar div.logo img.imglogo {
  width: 100px;
  height: auto;
}
nav.navbar ul {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}
nav.navbar ul li {
  list-style-type: none;
  align-self: center;
  padding: 0 0.5em;
  margin-top: 15px;
}
nav.navbar ul li:nth-of-type(4) {
  margin-right: 4em;
}
nav.navbar ul li:last-child {
  padding: 0 0 0 0.5em;
}
nav.navbar ul li a {
  text-decoration: none;
  color: #1d1d1d;
  position: relative;
  padding: 0 10px 10px 0;
  font-size: 1em;
}
nav.navbar ul li a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #1d1d1d;
  transition: width 0.3s ease 0s;
  width: 0;
}
nav.navbar ul li a:hover::after {
  width: 50%;
  left: 0;
}
nav.navbar ul li a.icon:hover::after, nav.navbar ul li a.logo:hover::after {
  width: 0;
}
nav.navbar div.burger {
  display: none;
  padding: 0.5em;
  cursor: pointer;
}
nav.navbar div.burger div.line {
  height: 2px;
  width: 35px;
  margin: 0.5em 0;
  background: #1d1d1d;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
nav.navbar div.burger.white div.line {
  background: #ffffff;
}

nav.white div.logo img.imglogo {
  filter: invert(100%) brightness(120%) contrast(100%);
}
nav.white ul li a {
  filter: invert(100%) brightness(120%) contrast(100%);
}

nav.navbar.show div.burger div.line1 {
  transform: translate(-10px) rotate(45deg) translate(14px);
  background: #1d1d1d;
}

nav.navbar.show div.burger div.line2 {
  opacity: 0;
  background: #1d1d1d;
}

nav.navbar.show div.burger div.line3 {
  transform: translate(-10px) rotate(-45deg) translate(14px);
  background: #1d1d1d;
}

nav.navbar.show ul.navlinks {
  transform: translateX(0%);
}

@media (min-width: 768px) and (max-width: 1023px) {
  nav.navbar {
    justify-content: space-between;
  }
  nav.navbar div.burger {
    display: block;
    z-index: 400;
  }
  nav.navbar ul.navlinks {
    padding: 4em;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    font: normal 400 1em/1.2 "Manrope", sans-serif;
    font-size: 2em;
    flex-direction: column;
    justify-content: flex-start;
    background: #fafafa;
    transform: translateX(100%);
    transition: transform 1s ease;
  }
  nav.navbar ul.navlinks li {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  nav.navbar ul.navlinks li:nth-of-type(n+5) {
    flex-direction: row;
  }
  nav.navbar ul.navlinks li:nth-of-type(n+5) a::before {
    content: none;
  }
  nav.navbar ul.navlinks li:nth-of-type(n+5) a:hover {
    margin: 0;
  }
  nav.navbar ul.navlinks li a {
    color: #1d1d1d;
    transition: all 0.3s;
  }
  nav.navbar ul.navlinks li a::before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #CBD5CC;
    position: relative;
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
  }
  nav.navbar ul.navlinks li a::after {
    display: none;
  }
  nav.navbar ul.navlinks li a:hover, nav.navbar ul.navlinks li a:focus {
    margin-left: 1em;
  }

  nav.white ul li a {
    filter: none;
  }
}
@media all and (max-width: 767px) {
  nav.navbar {
    justify-content: space-between;
  }
  nav.navbar div.logo {
    flex-basis: 50%;
  }
  nav.navbar div.burger {
    display: block;
    z-index: 400;
  }
  nav.navbar ul.navlinks {
    padding: 4em;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    font: normal 400 1em/1.2 "Manrope", sans-serif;
    font-size: 2em;
    flex-direction: column;
    justify-content: flex-start;
    background: #fafafa;
    transform: translateX(100%);
    transition: transform 1s ease;
  }
  nav.navbar ul.navlinks li {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  nav.navbar ul.navlinks li:nth-of-type(n+5) {
    flex-direction: row;
  }
  nav.navbar ul.navlinks li:nth-of-type(n+5) a::before {
    content: none;
  }
  nav.navbar ul.navlinks li:nth-of-type(n+5) a:hover {
    margin: 0;
  }
  nav.navbar ul.navlinks li a {
    color: #1d1d1d;
    transition: all 0.3s;
  }
  nav.navbar ul.navlinks li a::before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #CBD5CC;
    position: relative;
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
  }
  nav.navbar ul.navlinks li a::after {
    display: none;
  }
  nav.navbar ul.navlinks li a:hover, nav.navbar ul.navlinks li a:focus {
    margin-left: 1em;
  }

  nav.white ul li a {
    filter: none;
  }
}
div.footer {
  height: auto;
  width: 100%;
  padding: 3em 5em;
  background-color: #fafafa;
  display: flex;
  flex-flow: row wrap;
}
div.footer nav.footer-nav ul li {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  transition: all 0.3s;
}
div.footer nav.footer-nav ul li:hover, div.footer nav.footer-nav ul li:focus {
  padding: 0 1em;
}
div.footer nav.footer-nav ul li p {
  width: 10%;
}
div.footer nav.footer-nav ul li p:first-of-type {
  border-top: 1px solid gray;
  padding: 1em 0;
}
div.footer nav.footer-nav ul li a {
  font: normal 400 1em/1.2 "Manrope", sans-serif;
  font-size: 2.6em;
  line-height: 2em;
  padding: 0 1em;
  color: #1d1d1d;
}
div.footer .footer-info div {
  margin-bottom: 2em;
}
div.footer .footer-info div p {
  border-bottom: 1px solid gray;
  width: 50%;
  text-transform: uppercase;
  padding: 1em 0;
  margin: 0 0 1.5em 0;
}
div.footer .footer-info div a {
  color: #1d1d1d;
}
div.footer .footer-info div a:hover, div.footer .footer-info div a:focus {
  color: #808080;
}
div.footer .footer-info div address {
  font-style: normal;
}
div.footer .footer-info div address a {
  color: #1d1d1d;
}
div.footer .footer-info div address a:hover, div.footer .footer-info div address a:focus {
  color: #808080;
}
div.footer nav.mentions {
  width: 100%;
  margin: 3em 0 0 0;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
div.footer nav.mentions ul {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
div.footer nav.mentions ul li {
  margin-right: 2em;
  color: #808080;
}
div.footer nav.mentions ul li a {
  color: #808080;
}
div.footer nav.mentions ul li a:hover, div.footer nav.mentions ul li a:focus {
  color: #1d1d1d;
}

@media all and (max-width: 767px) {
  .footer {
    height: auto;
  }
  .footer nav.footer-nav {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  div.footer {
    flex-basis: 100%;
    height: auto;
  }
  div.footer * {
    padding: 0;
  }
  div.footer nav.mentions {
    height: auto;
  }
}
.title-home {
  position: absolute;
  z-index: 20;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.title-home > * {
  color: #ffffff;
}

.slideshow-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  /* Dot image change */
  /* End of dot image change */
  /* Fading animation */
  /* End of fading animation */
  /* Scroll */
  /* End of scroll */
}
.slideshow-container .dot {
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  z-index: 200;
  position: absolute;
  bottom: 2rem;
  right: 4rem;
}
.slideshow-container .two {
  right: 3rem;
}
.slideshow-container .three {
  right: 2rem;
}
.slideshow-container .active {
  background-color: #1d1d1d;
}
.slideshow-container .fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.slideshow-container .fade img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
          animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.slideshow-container .fade .bgone {
  -webkit-animation-name: slide;
  animation-name: slide;
}
@-webkit-keyframes slide {
  100% {
    transform: scale(1.1);
  }
}
@keyframes slide {
  100% {
    transform: scale(1.1);
  }
}
.slideshow-container .fade .bgtwo {
  transform: scale(1.1);
  -webkit-animation-name: slidetwo;
  animation-name: slidetwo;
  -o-object-position: right bottom;
     object-position: right bottom;
}
@-webkit-keyframes slidetwo {
  100% {
    transform: scale(1.2) translate(-100px);
  }
}
@keyframes slidetwo {
  100% {
    transform: scale(1.2) translate(-100px);
  }
}
.slideshow-container .fade .bgthree {
  transform: scale(1.2);
  -webkit-animation-name: slidethree;
  animation-name: slidethree;
}
@-webkit-keyframes slidethree {
  100% {
    transform: scale(1);
  }
}
@keyframes slidethree {
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0.95;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.95;
  }
  to {
    opacity: 1;
  }
}
.slideshow-container div.scrollone {
  height: 100vh;
  position: absolute;
  z-index: 20;
  left: 2rem;
}
.slideshow-container div.scrollone .scroll-indicator {
  position: absolute;
  bottom: 0px;
}
.slideshow-container div.scrollone .scroll-indicator .scroll {
  width: 2px;
  height: 65px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.slideshow-container div.scrollone .scroll-indicator .scroll .scroll-line {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom, #1d1d1d 50%, rgba(29, 29, 29, 0) 50%);
  background-position: 0 750px;
  background-size: 100% 200%;
  -webkit-animation: scrolldown 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
          animation: scrolldown 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}
.slideshow-container div.scrollone .scroll-indicator span {
  position: absolute;
  right: -65px;
  top: 0;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 0.8em;
}
@-webkit-keyframes scrolldown {
  0% {
    background-position: 0 65px;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 65px;
  }
}
@keyframes scrolldown {
  0% {
    background-position: 0 65px;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 65px;
  }
}

.lastitems {
  margin: 4em 4em 0;
  display: flex;
  flex-flow: row wrap;
}
.lastitems .item-title {
  margin: 1em;
  padding: 1em 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.lastitems .item-title h2 {
  width: 90%;
  margin: 0;
}
.lastitems .item-title div {
  width: 10%;
  padding: 1em 0;
  text-align: right;
}
.lastitems .item-title div a {
  color: #808080;
  padding: 0;
}
.lastitems .item-title div a:hover {
  color: #1d1d1d;
}
.lastitems a {
  padding: 1.5em 1.5em 0;
}
.lastitems a .mobilier figure {
  height: 300px;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.lastitems a .mobilier figure img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.lastitems a .mobilier:hover figure {
  border-radius: 15px;
}
.lastitems a .mobilier:hover p:last-of-type {
  color: #1d1d1d;
}
.lastitems a .mobilier p:last-of-type {
  font-style: oblique;
  color: #808080;
  transition: all 0.2s ease-in-out;
}

.insert .about {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.insert .about > * {
  margin: 1rem;
}
.insert .about h3 {
  font-size: 3em;
  line-height: 1em;
}
.insert .about a {
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .insert .about {
    width: 80%;
  }
}
@media all and (max-width: 767px) {
  .insert .about {
    width: 95%;
  }
}
article.contactpage .first-slide .img-background {
  background-image: url(/images/nathan-oakley-2.jpg?1e0478592c2abe338fb4ea6438321ede);
  background-position: right center;
  background-size: cover;
  left: 0;
}
article.contactpage .first-slide .title {
  left: 50%;
}
article.contactpage .container {
  display: flex;
  height: auto;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 4em;
}
article.contactpage .container .info address {
  background-color: #ffffff;
  padding: 4em;
  height: auto;
}
article.contactpage .container .info address a {
  color: #1d1d1d;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
}
article.contactpage .container .info address a:hover, article.contactpage .container .info address a:focus {
  color: #808080;
}
article.contactpage .container .contact {
  padding-left: 4em;
}
article.contactpage .container .contact p textarea {
  height: 100px;
}
article.contactpage .container .contact p select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 25px), calc(100% - 20px), calc(100% - 3.5em);
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

article.apropospage .first-slide .img-background {
  background-image: url(/images/paul-weaver.jpg?ea10492dd4c55976921dc0921250fb5f);
  background-position: right center;
  background-size: cover;
  right: 0;
}
article.apropospage .container div.history {
  width: 100%;
  min-height: 100vh;
  margin: 10rem auto;
  display: flex;
  flex-flow: row wrap;
  padding: 2em 0;
  text-align: justify;
}
article.apropospage .container div.history > div {
  padding: 2em;
}
article.apropospage .container div.history > div h3 {
  margin: 0 0 2em 0;
}
article.apropospage .container div.history > div .text {
  padding-left: 3em;
}
article.apropospage .container ul.galerie {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10em 0;
}
article.apropospage .container ul.galerie li {
  margin: 1em;
  height: 75vh;
  width: 50%;
}
article.apropospage .container ul.galerie .picture-one {
  background: url("/images/gallery/rockingchair-1.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;
}
article.apropospage .container ul.galerie .picture-two {
  background: url("/images/gallery/chair.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 40%;
  align-self: flex-end;
}
article.apropospage .container ul.galerie .picture-three {
  background: url("/images/gallery/locker.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 60vh;
  width: 40%;
  align-self: flex-start;
}
article.apropospage .container ul.galerie .picture-four {
  background: url("/images/gallery/chair-3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.legal {
  margin-bottom: 2em;
  width: 100%;
  height: auto;
}
.legal h1 {
  text-align: center;
  line-height: 5em;
}
.legal ol li {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2em;
}
.legal ol li h2 {
  line-height: 2em;
  font-size: 2em;
}
.legal ol li p {
  text-align: justify;
}

.loggedin {
  min-height: 100vh;
  text-align: center;
  display: flex;
}
.loggedin ul {
  margin: auto;
}

.atelier {
  padding: 10em 4em 0;
}
.atelier .workshop {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: #ffffff;
  justify-content: flex-end;
  margin: 4em auto;
}
.atelier .workshop > * {
  padding: 2em;
}
.atelier .workshop:not(:first-child) {
  margin: 1rem auto 3rem;
}
.atelier .workshop figure {
  flex-basis: 50%;
  height: 550px;
  overflow: hidden;
}
.atelier .workshop figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.atelier .workshop .workshop-info {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}
.atelier .workshop .workshop-info .detail {
  margin: 3rem 0 1rem;
  border-bottom: 1px solid #1d1d1d;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.atelier .workshop .workshop-info a, .atelier .workshop .workshop-info button {
  margin-top: 3em;
}
.atelier .workshop .crud {
  padding-top: 0;
  margin-top: 0;
}
.atelier .unactive {
  background-color: #f0f0f0;
}

.form-edit, .form-create {
  width: 70%;
  margin: 0 auto;
}
.form-edit .check, .form-create .check {
  display: flex;
}
.form-edit .check input, .form-edit .check label, .form-create .check input, .form-create .check label {
  flex-basis: auto;
}
.form-edit .cta, .form-create .cta {
  width: 100%;
}
.form-edit .cta .btn-edit, .form-create .cta .btn-edit {
  width: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .atelier .workshop figure {
    width: 100%;
  }
}
@media all and (max-width: 767px) {
  .atelier {
    padding-left: 1em;
    padding-right: 1em;
  }
  .atelier .workshop {
    flex-flow: column wrap;
  }
  .atelier .workshop figure {
    width: 100%;
  }
}
.allitems {
  display: flex;
  width: 100%;
  height: 100vh;
}
.allitems a {
  flex-basis: 50%;
}
.allitems a .half-slide {
  overflow: hidden;
}
.allitems a .half-slide .title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/thom-bradley.jpg?601c17ae472feda9bc1c512048f80d35);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  transition: all 0.5s;
  transform: scale(1.02);
}
.allitems a .half-slide .title:hover {
  transform: scale(1);
}
.allitems a .half-slide .title h2 {
  color: #ffffff;
}
.allitems a .half-slide .two {
  background-image: url(/images/ryan-riggins.jpg?26c0790dbb361727704d153951a39c56);
  background-position: center;
}

.item {
  min-height: 100vh;
  width: 100%;
  padding: 3em;
  display: flex;
  flex-flow: row wrap;
  padding: 8em 4em 4em;
}
.item .item-title {
  margin: 1em;
  padding: 1em 0;
}
.item .item-title h2 {
  width: 100%;
  margin: 0;
}
.item .item-title p {
  width: 60%;
  padding: 1em 0;
}
.item .admin-link {
  display: flex;
  margin: 1em 1em 1em 0;
}
.item .admin-link li {
  margin-right: 1em;
  align-self: center;
}
.item .mobilier {
  padding: 2em;
}
.item .mobilier a figure {
  height: 300px;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.item .mobilier a figure img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.item .mobilier a:hover figure {
  border-radius: 15px;
}
.item .mobilier a:hover p:last-of-type {
  color: #1d1d1d;
}
.item .mobilier a p:last-of-type {
  font-style: oblique;
  color: #808080;
  transition: all 0.2s ease-in-out;
}
.item .mobilier a .crud {
  display: none;
}
.item .unactive {
  background-color: #f0f0f0;
}

.form-create.mobilier, .form-edit.mobilier {
  padding: 8em 4em 4em;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .allitems {
    height: auto;
    flex-flow: column wrap;
  }
  .allitems a {
    flex-basis: 100%;
  }
}
@media all and (max-width: 767px) {
  .allitems {
    height: auto;
    flex-flow: column wrap;
  }
  .allitems a {
    flex-basis: 100%;
  }

  .item {
    padding-left: 1em;
    padding-right: 1em;
  }
  .item .item-title p {
    width: 100%;
  }
}
.article {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.article figure {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.article figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article .product {
  padding: 3em;
  margin-top: 8em;
  min-height: 20vh;
}
.article .product .product-title {
  display: flex;
  align-items: center;
}
.article .product .product-title h3 {
  flex-basis: 50%;
}
.article .product .product-title p {
  flex-basis: 50%;
  text-align: right;
  font-size: 1.2em;
}
.article .product .product-info .line {
  margin: 3rem 0 1rem;
  display: block;
  width: 100%;
  border-top: 1px solid #d3d3d3;
}
.article .product .product-info p:not(:last-child) {
  font-style: oblique;
}
.article .product a, .article .product button {
  margin-top: 3em;
}

@media all and (max-width: 767px) {
  .article {
    height: auto;
    flex-flow: column wrap;
  }
  .article figure {
    min-height: 100vh;
  }
  .article .product {
    margin: 0;
  }
  .article .product .product-title {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .article .product .product-title h3 {
    width: 100%;
  }
}
table {
  width: 100%;
  text-align: left;
  background-color: #ffffff;
  padding: 2em;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
}
table tr {
  background-color: #ffffff;
}
table tr:nth-of-type(2n+1) {
  background-color: #f0f0f0;
}
table tr th {
  padding: 2em;
}
table tr td {
  padding: 1em;
}

.profile {
  min-height: 100vh;
  display: flex;
}
.profile .profil {
  margin: 8em 4em 4em;
  padding: 4em;
  background-color: #ffffff;
  flex-basis: 100%;
}

.category {
  padding: 8em 4em 4em;
}
.category .admin-link {
  margin: 1em 1em 1em 0;
}

.reservation {
  padding: 8em 4em 4em;
}
.reservation .admin-link {
  margin: 1em 1em 1em 0;
}

.atelier_utilisateur {
  padding: 8em 4em 4em;
}
.atelier_utilisateur .admin-link {
  margin: 1em 1em 1em 0;
}

.utilisateur {
  padding: 8em 4em 4em;
}
.utilisateur h2 {
  padding: 0 0 1em 0;
}
.utilisateur .admin-link {
  margin: 1em 1em 1em 0;
}
.utilisateur .administrateurs, .utilisateur .newsletter {
  padding: 4em 0 0 0;
}
.utilisateur .administrateurs > h2, .utilisateur .newsletter > h2 {
  padding: 0 0 1em 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}
body h1, body h2, body h3, body h4, body h5, body p, body a, body address, body input, body label, body strong, body ul, body li, body span, body textarea {
  color: #1d1d1d;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
}
body h1, body h2, body h3, body h4, body h5 {
  font: normal 400 1em/1.2 "Manrope", sans-serif;
}
body h1 {
  font-size: 3.5em;
}
body h2 {
  font-size: 3em;
}
body h3 {
  font-size: 2em;
  line-height: 1.7em;
}
body h4 {
  font-size: 1.2em;
}
body address {
  text-decoration: none;
  font-style: normal;
}
body .container {
  margin: 4em;
}

a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
}

li {
  list-style: none;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
}

label:not(.checkboxlabel) {
  text-transform: uppercase;
  width: 100%;
}

input:not(.checkbox), select, textarea {
  margin: 1em auto;
  width: 100%;
  padding: 1em;
  outline: none;
  border: 1px solid #d3d3d3;
}

input:not(.checkbox):focus, select:focus, textarea:focus {
  border: 1px solid #CBD5CC;
}

.checkboxlabel a {
  text-decoration: none;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
  color: #808080;
}
.checkboxlabel a:hover, .checkboxlabel a:focus {
  color: #1d1d1d;
}

div.first-slide {
  width: 100%;
  height: 100vh;
}
div.first-slide .img-background {
  width: 50%;
  height: 100vh;
  position: absolute;
}
div.first-slide div.title {
  position: absolute;
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 4em;
}

.col-12 {
  flex-basis: 100%;
}

.col-8 {
  flex-basis: 66.6666%;
}

.col-6 {
  flex-basis: 50%;
}

.col-4 {
  flex-basis: 33.3333%;
}

.col-3 {
  flex-basis: 25%;
}

.col-2 {
  flex-basis: 16.6666%;
}

.col-1 {
  flex-basis: 8.3333%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .col-12 {
    flex-basis: 100%;
  }

  .col-8 {
    flex-basis: 50%;
  }

  .col-6 {
    flex-basis: 50%;
  }

  .col-4 {
    flex-basis: 50%;
  }

  .col-3 {
    flex-basis: 50%;
  }

  .col-2 {
    flex-basis: 33.3333%;
  }

  .col-1 {
    flex-basis: 16.6666%;
  }
}
@media all and (max-width: 767px) {
  .col-12 {
    flex-basis: 100%;
  }

  .col-8 {
    flex-basis: 100%;
  }

  .col-6 {
    flex-basis: 100%;
  }

  .col-4 {
    flex-basis: 100%;
  }

  .col-3 {
    flex-basis: 50%;
  }

  .col-2 {
    flex-basis: 100%;
  }

  .col-1 {
    flex-basis: 100%;
  }
}
.custom-button {
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  font: normal 600 0.9em/1.5 "Open Sans", sans-serif;
  font-size: 0.75em;
  text-align: center;
  letter-spacing: 2px;
  width: 160px;
  padding: 10px 20px;
  border: 2px solid #CBD5CC;
  background: #CBD5CC;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}
.custom-button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #ffffff;
  transition: all 0.3s ease;
}
.custom-button:hover {
  color: #1d1d1d;
}
.custom-button:hover::after {
  left: 0;
  width: 100%;
}
.custom-button:active {
  top: 2px;
}

.btn-add {
  background-color: #9fc957;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
  padding: 10px 20px;
  text-decoration: none;
}
.btn-add:hover {
  background-color: #94c344;
  color: #ffffff;
}
.btn-add:active {
  position: relative;
  top: 1px;
}

.btn-delete {
  background-color: #ff3b3b;
  cursor: pointer;
  color: #ffffff;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  outline: none;
}
.btn-delete:hover {
  background-color: #ff2222;
  color: #ffffff;
}

.btn-edit {
  background-color: #fad43d;
  cursor: pointer;
  color: #ffffff;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  outline: none;
}
.btn-edit:hover {
  background-color: #f9ce24;
  color: #ffffff;
}

.btn-back {
  background-color: #d3d3d3;
  cursor: pointer;
  color: #ffffff;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  outline: none;
}
.btn-back:hover {
  background-color: #c6c6c6;
  color: #ffffff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 400;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  overflow: auto;
}
.modal .modal-content {
  background-color: #ffffff;
  padding: 4em;
  width: 100%;
  height: 100vh;
}
.modal .modal-content .close {
  color: #d3d3d3;
  font-size: 28px;
  font-weight: normal;
}
.modal .modal-content .close:hover, .modal .modal-content .close:focus {
  color: #1d1d1d;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content form h3 {
  margin: 1rem 2rem 1rem 0;
}
.modal .modal-content form .btn-edit {
  width: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .modal {
    width: 100%;
  }
}
@media all and (max-width: 767px) {
  .modal {
    width: 100%;
  }
}
.alert {
  width: 100%;
  padding: 1em;
  border-radius: 10px;
}

.alert-danger {
  color: #D8000C;
  background-color: #FFBABA;
}

.alert-warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.alert-success {
  color: #270;
  background-color: #DFF2BF;
}
