@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&display=swap);
nav.navbar {
  z-index: 300;
  width: 100%;
  height: 8vh;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  padding: 1em 2em;
}
nav.navbar div.logo img.imglogo {
  width: 150px;
  height: auto;
}
nav.navbar ul {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}
nav.navbar ul li {
  list-style-type: none;
  align-self: center;
  padding: 0 0.5em;
  margin-top: 15px;
}
nav.navbar ul li:nth-of-type(4) {
  margin-right: 4em;
}
nav.navbar ul li:last-child {
  padding: 0 0 0 0.5em;
}
nav.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  padding: 0 10px 10px 0;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
}
nav.navbar ul li a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #ffffff;
  transition: width 0.3s ease 0s;
  width: 0;
}
nav.navbar ul li a:hover::after {
  width: 50%;
  left: 0;
}
nav.navbar ul li a.icon:hover::after, nav.navbar ul li a.logo:hover::after {
  width: 0;
}
nav.navbar div.burger {
  display: none;
  padding: 0.5em;
  cursor: pointer;
}
nav.navbar div.burger div.line {
  height: 2px;
  width: 35px;
  margin: 0.5em 0;
  background: #ffffff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

nav.navbar.show div.burger div.line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
  background: #000000;
}

nav.navbar.show div.burger div.line2 {
  opacity: 0;
  background: #000000;
}

nav.navbar.show div.burger div.line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
  background: #000000;
}

nav.navbar.show ul.navlinks {
  transform: translateX(0%);
}

@media (min-width: 768px) and (max-width: 1023px) {
  nav.navbar {
    justify-content: space-between;
  }
  nav.navbar div.burger {
    display: block;
    z-index: 400;
  }
  nav.navbar ul.navlinks {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background: #F5F5F5;
    transform: translateX(100%);
    transition: transform 1s ease;
  }
  nav.navbar ul.navlinks li a {
    color: #000000;
  }
}
@media all and (max-width: 767px) {
  nav.navbar {
    justify-content: space-between;
  }
  nav.navbar div.logo {
    flex-basis: auto;
  }
  nav.navbar div.burger {
    display: block;
    z-index: 400;
  }
  nav.navbar ul.navlinks {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background: #F5F5F5;
    transform: translateX(100%);
    transition: transform 1s ease;
  }
  nav.navbar ul.navlinks li a {
    color: #000000;
  }
}
div.footer {
  height: 100vh;
  width: 100%;
  padding: 3em 5em;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
}
div.footer nav.footer-nav ul li {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  transition: all 0.3s;
}
div.footer nav.footer-nav ul li:hover, div.footer nav.footer-nav ul li:focus {
  padding: 0 1em;
}
div.footer nav.footer-nav ul li p {
  width: 10%;
}
div.footer nav.footer-nav ul li p:first-of-type {
  border-top: 1px solid gray;
  padding: 1em 0;
}
div.footer nav.footer-nav ul li a {
  font: normal 400 1em/1 "Cormorant Garamond", serif;
  font-size: 2.7em;
  line-height: 2em;
  padding: 0 1em;
  color: #000000;
}
div.footer .footer-info div {
  margin-bottom: 2em;
}
div.footer .footer-info div p {
  border-bottom: 1px solid gray;
  width: 50%;
  text-transform: uppercase;
  padding: 1em 0;
  margin: 0 0 1.5em 0;
}
div.footer .footer-info div a {
  color: #000000;
}
div.footer .footer-info div a:hover, div.footer .footer-info div a:focus {
  color: #CBD5CC;
}
div.footer .footer-info div address {
  font-style: normal;
}
div.footer .footer-info div address a {
  color: #000000;
}
div.footer nav.mentions {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  font-size: 0.8em;
}
div.footer nav.mentions ul {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
div.footer nav.mentions ul li {
  margin-right: 2em;
  color: #808080;
}
div.footer nav.mentions ul li strong {
  font-weight: normal;
}
div.footer nav.mentions ul li a {
  color: #808080;
}
div.footer nav.mentions ul li a:hover, div.footer nav.mentions ul li a:focus {
  color: #CBD5CC;
}

@media all and (max-width: 767px) {
  .footer {
    height: auto;
  }
  .footer nav.footer-nav {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  div.footer {
    flex-basis: 100%;
    height: auto;
  }
  div.footer * {
    padding: 0;
  }
  div.footer nav.mentions {
    height: auto;
  }
}
.slideshow-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  /* Dot image change */
  /* End of dot image change */
  /* Fading animation */
  /* End of fading animation */
  /* Scroll */
  /* End of scroll */
}
.slideshow-container .dot {
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  z-index: 200;
  position: absolute;
  bottom: 2em;
  right: 4em;
}
.slideshow-container .two {
  right: 3em;
}
.slideshow-container .three {
  right: 2em;
}
.slideshow-container .active {
  background-color: #000000;
}
.slideshow-container .fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.slideshow-container .fade img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
          animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.slideshow-container .fade .bgone {
  -webkit-animation-name: slide;
  animation-name: slide;
}
@-webkit-keyframes slide {
  100% {
    transform: scale(1.1);
  }
}
@keyframes slide {
  100% {
    transform: scale(1.1);
  }
}
.slideshow-container .fade .bgtwo {
  transform: scale(1.1);
  -webkit-animation-name: slidetwo;
  animation-name: slidetwo;
  -o-object-position: right bottom;
     object-position: right bottom;
}
@-webkit-keyframes slidetwo {
  100% {
    transform: scale(1.2) translate(-100px);
  }
}
@keyframes slidetwo {
  100% {
    transform: scale(1.2) translate(-100px);
  }
}
.slideshow-container .fade .bgthree {
  transform: scale(1.2);
  -webkit-animation-name: slidethree;
  animation-name: slidethree;
}
@-webkit-keyframes slidethree {
  100% {
    transform: scale(1);
  }
}
@keyframes slidethree {
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}
.slideshow-container div.scrollone {
  height: 100vh;
  position: absolute;
  z-index: 200;
  left: 2em;
}
.slideshow-container div.scrollone .scroll-indicator {
  position: absolute;
  bottom: 0px;
}
.slideshow-container div.scrollone .scroll-indicator .scroll {
  width: 2px;
  height: 65px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.slideshow-container div.scrollone .scroll-indicator .scroll .scroll-line {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom, #000000 50%, rgba(0, 0, 0, 0) 50%);
  background-position: 0 750px;
  background-size: 100% 200%;
  -webkit-animation: scrolldown 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
          animation: scrolldown 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}
.slideshow-container div.scrollone .scroll-indicator span {
  position: absolute;
  right: -65px;
  top: 0;
  letter-spacing: 1px;
  color: #ffffff;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
  font-size: 0.8em;
}
@-webkit-keyframes scrolldown {
  0% {
    background-position: 0 65px;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 65px;
  }
}
@keyframes scrolldown {
  0% {
    background-position: 0 65px;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 65px;
  }
}

article.contactpage .first-slide .img-background {
  background-image: url(/images/3.jpg?900309b13b092e5aef0b15430ab890e0);
  left: 0;
}
article.contactpage .container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  position: relative;
  top: -20em;
  height: auto;
}
article.contactpage .container .info address {
  text-align: center;
}
article.contactpage .container .info address a {
  color: #000000;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
  font-size: 1.2em;
}
article.contactpage .container .info address a:hover, article.contactpage .container .info address a:focus {
  color: #CBD5CC;
}
article.contactpage .container .contact {
  margin-left: 0;
  padding: 0 3em 0 3em;
}
article.contactpage .container .contact p {
  margin: 1em 0 0 0;
}

article.apropospage .first-slide .img-background {
  background-image: url(/images/1.jpg?abc693106e7eca062a9fd293880a9545);
  right: 0;
}
article.apropospage .container div.history {
  width: 100%;
  height: 100vh;
  margin: 10rem auto;
  display: flex;
  flex-flow: row wrap;
  padding: 2em 0;
}
article.apropospage .container div.history > div {
  padding: 2em;
}
article.apropospage .container div.history .author {
  text-align: center;
}
article.apropospage .container div.history .author figure {
  height: 90%;
  width: 100%;
}
article.apropospage .container div.history .author figure img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
article.apropospage .container div.history .author figure .rotating-text {
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
  transform-origin: 50% 50%;
  letter-spacing: 3px;
  margin-top: -5em;
  margin-right: -35em;
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
article.apropospage .container div.history .text {
  text-align: justify;
  align-self: center;
}
article.apropospage .container div.galerie {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
article.apropospage .container div.galerie ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
article.apropospage .container div.galerie ul li {
  padding: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  width: 100%;
  height: 500px;
}
article.apropospage .container div.galerie ul li img {
  max-width: 100%;
}
article.apropospage .container form.newsletter {
  width: 50%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  padding: 10rem 0;
}
article.apropospage .container form.newsletter label {
  margin: 0 auto;
  text-align: center;
}
article.apropospage .container form.newsletter p {
  border: 1px solid #000000;
  display: flex;
  flex-direction: row;
  margin: 1em auto;
}
article.apropospage .container form.newsletter p input {
  margin: 0;
  border: none;
}
article.apropospage .container form.newsletter p input:first-child {
  margin: 0;
  width: 300%;
}
article.apropospage .container form.newsletter p input:last-child {
  background-color: #ffffff;
  font-size: 1.5em;
  padding: 0 1em 0 0;
  text-align: right;
  transition: all 0.5s;
  cursor: pointer;
}
article.apropospage .container form.newsletter p input:last-child:hover {
  padding: 0 0.7em 0 0;
}

@media all and (max-width: 767px) {
  article.apropospage .container form.newsletter {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font: normal 400 0.9em/1.5 "Open Sans", sans-serif;
  background-color: #F5F5F5;
}
body h1, body h2, body h3, body h4, body h5 {
  font: normal 400 1em/1 "Cormorant Garamond", serif;
}
body h1 {
  font-size: 3.5em;
}
body h2 {
  font-size: 3em;
}
body h3 {
  font-size: 2em;
}
body label {
  text-transform: uppercase;
}
body input, body select {
  margin: 1em auto;
  width: 100%;
  padding: 1em;
  outline: none;
}
body .container {
  margin: 4em;
}

div.first-slide {
  width: 100%;
  height: 100vh;
}
div.first-slide .img-background {
  width: 50%;
  height: 100vh;
  position: absolute;
  background-size: cover;
  background-color: #ffffff;
}
div.first-slide span.line {
  width: 100px;
  display: block;
  border-top: 2px solid #000000;
  position: absolute;
  top: 50%;
}
div.first-slide span.two {
  right: 0;
}
div.first-slide div.title {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
div.first-slide div.title h1 {
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
}

.col-12 {
  flex-basis: 100%;
}

.col-8 {
  flex-basis: 66.6666%;
}

.col-6 {
  flex-basis: 50%;
}

.col-4 {
  flex-basis: 33.3333%;
}

.col-3 {
  flex-basis: 25%;
}

.col-2 {
  flex-basis: 16.6666%;
}

.col-1 {
  flex-basis: 8.3333%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .col-12 {
    flex-basis: 100%;
  }

  .col-8 {
    flex-basis: 50%;
  }

  .col-6 {
    flex-basis: 50%;
  }

  .col-4 {
    flex-basis: 50%;
  }

  .col-3 {
    flex-basis: 50%;
  }

  .col-2 {
    flex-basis: 33.3333%;
  }

  .col-1 {
    flex-basis: 16.6666%;
  }
}
@media all and (max-width: 767px) {
  .col-12 {
    flex-basis: 100%;
  }

  .col-8 {
    flex-basis: 100%;
  }

  .col-6 {
    flex-basis: 100%;
  }

  .col-4 {
    flex-basis: 100%;
  }

  .col-3 {
    flex-basis: 100%;
  }

  .col-2 {
    flex-basis: 100%;
  }

  .col-1 {
    flex-basis: 100%;
  }
}
a {
  text-decoration: none;
}
a:hover, a:focus {
  color: #CBD5CC;
}

li {
  list-style: none;
}

.custom-button .btn {
  padding: 1em;
  border: 1px solid #000000;
  background-color: #ffffff;
  width: 200px;
  text-transform: uppercase;
  cursor: pointer;
}
.custom-button span {
  border-top: 1px solid #000000;
  width: 30px;
  display: block;
  position: relative;
  top: -35px;
  left: -10px;
}
.custom-button:hover .btn, .custom-button:hover .span {
  transform: translate(10px);
  transition: transform 0.3s ease-in-out;
}
