@import url(https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap);
nav.navbar {
  z-index: 300;
  width: 100%;
  height: 8vh;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  padding: 1em 2em;
}
nav.navbar div.logo img.imglogo {
  width: 150px;
  height: auto;
}
nav.navbar ul {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}
nav.navbar ul li {
  list-style-type: none;
  align-self: center;
  padding: 0 0.5em;
  margin-top: 15px;
}
nav.navbar ul li:nth-of-type(4) {
  margin-right: 4em;
}
nav.navbar ul li:last-child {
  padding: 0 0 0 0.5em;
}
nav.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  padding: 0 10px 10px 0;
  font: normal 400 0.9em/1 "Open Sans", sans-serif;
}
nav.navbar ul li a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #ffffff;
  transition: width 0.3s ease 0s;
  width: 0;
}
nav.navbar ul li a:hover::after {
  width: 50%;
  left: 0;
}
nav.navbar ul li a.icon:hover::after, nav.navbar ul li a.logo:hover::after {
  width: 0;
}
nav.navbar div.burger {
  display: none;
  padding: 0.5em;
  cursor: pointer;
}
nav.navbar div.burger div.line {
  height: 2px;
  width: 35px;
  margin: 0.5em 0;
  background: #ffffff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

nav.navbar.show div.burger div.line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
  background: #000000;
}

nav.navbar.show div.burger div.line2 {
  opacity: 0;
  background: #000000;
}

nav.navbar.show div.burger div.line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
  background: #000000;
}

nav.navbar.show ul.navlinks {
  transform: translateX(0%);
}

@media (min-width: 768px) and (max-width: 1023px) {
  nav.navbar {
    justify-content: space-between;
  }
  nav.navbar div.burger {
    display: block;
    z-index: 400;
  }
  nav.navbar ul.navlinks {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background: #F5F5F5;
    transform: translateX(100%);
    transition: transform 1s ease;
  }
  nav.navbar ul.navlinks li a {
    color: #000000;
  }
}
@media all and (max-width: 767px) {
  nav.navbar {
    justify-content: space-between;
  }
  nav.navbar div.logo {
    flex-basis: auto;
  }
  nav.navbar div.burger {
    display: block;
    z-index: 400;
  }
  nav.navbar ul.navlinks {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background: #F5F5F5;
    transform: translateX(100%);
    transition: transform 1s ease;
  }
  nav.navbar ul.navlinks li a {
    color: #000000;
  }
}
div.footer {
  margin-top: 10em;
}
div.footer nav.footernav {
  width: 100%;
  min-height: 30vh;
  padding: 1em 2em;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}
div.footer nav.footernav ul {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
div.footer nav.footernav ul div {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}
div.footer nav.footernav ul div:first-child {
  justify-content: flex-start;
}
div.footer nav.footernav ul div li {
  padding: 0 0.5em;
}
div.footer nav.footernav ul div li:first-child {
  padding: 0 0.5em 0 0;
}
div.footer nav.footernav ul div li:last-child {
  padding: 0 0 0 0.5em;
}
div.footer nav.mentions {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: flex-end;
  padding: 1em 2em;
}
div.footer nav.mentions ul {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
div.footer nav.mentions ul li:last-child {
  text-align: right;
}

@media all and (max-width: 767px) {
  div.footer * {
    flex-basis: 100%;
    padding: 0;
    text-align: center;
  }

  div.footer nav.footernav ul div li:first-child,
div.footer nav.footernav ul div li:last-child,
div.footer nav.mentions ul li:last-child {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  div.footer {
    flex-basis: 100%;
  }
  div.footer * {
    padding: 0;
    text-align: center;
  }

  div.footer nav.mentions ul li:last-child {
    text-align: center;
  }
}
.slideshow-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  /* Dot image change */
  /* End of dot image change */
  /* Fading animation */
  /* End of fading animation */
  /* Scroll */
  /* End of scroll */
}
.slideshow-container .dot {
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  z-index: 200;
  position: absolute;
  bottom: 2em;
  right: 4em;
}
.slideshow-container .two {
  right: 3em;
}
.slideshow-container .three {
  right: 2em;
}
.slideshow-container .active {
  background-color: #000000;
}
.slideshow-container .fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.slideshow-container .fade img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
          animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.slideshow-container .fade .bgone {
  -webkit-animation-name: slide;
  animation-name: slide;
}
@-webkit-keyframes slide {
  100% {
    transform: scale(1.1);
  }
}
@keyframes slide {
  100% {
    transform: scale(1.1);
  }
}
.slideshow-container .fade .bgtwo {
  transform: scale(1.1);
  -webkit-animation-name: slidetwo;
  animation-name: slidetwo;
  -o-object-position: right bottom;
     object-position: right bottom;
}
@-webkit-keyframes slidetwo {
  100% {
    transform: scale(1.2) translate(-100px);
  }
}
@keyframes slidetwo {
  100% {
    transform: scale(1.2) translate(-100px);
  }
}
.slideshow-container .fade .bgthree {
  transform: scale(1.2);
  -webkit-animation-name: slidethree;
  animation-name: slidethree;
}
@-webkit-keyframes slidethree {
  100% {
    transform: scale(1);
  }
}
@keyframes slidethree {
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}
.slideshow-container div.scrollone {
  height: 100vh;
  position: absolute;
  z-index: 200;
  left: 2em;
}
.slideshow-container div.scrollone .scroll-indicator {
  position: absolute;
  bottom: 0px;
}
.slideshow-container div.scrollone .scroll-indicator .scroll {
  width: 2px;
  height: 65px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.slideshow-container div.scrollone .scroll-indicator .scroll .scroll-line {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom, #000000 50%, rgba(0, 0, 0, 0) 50%);
  background-position: 0 750px;
  background-size: 100% 200%;
  -webkit-animation: scrolldown 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
          animation: scrolldown 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}
.slideshow-container div.scrollone .scroll-indicator span {
  position: absolute;
  right: -65px;
  top: 0;
  letter-spacing: 1px;
  color: #ffffff;
  font: normal 400 0.9em/1 "Open Sans", sans-serif;
  font-size: 0.8em;
}
@-webkit-keyframes scrolldown {
  0% {
    background-position: 0 65px;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 65px;
  }
}
@keyframes scrolldown {
  0% {
    background-position: 0 65px;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 65px;
  }
}

article div.title h1 {
  text-align: center;
}
article div.history {
  display: flex;
  flex-flow: row wrap;
}
article div.history div.author {
  flex-basis: 50%;
}
article div.history div.text {
  flex-basis: 50%;
}
article div.galerie {
  margin: 10em 5em;
}
article div.galerie div {
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
article div.galerie div figure {
  padding: 1em;
}
article div.galerie div figure.small {
  width: 50%;
}
article div.galerie div figure.small img {
  width: 60%;
}
article div.galerie div figure.small img :first-of-type {
  margin-right: auto;
  text-align: right;
}
article div.galerie div figure.big {
  width: 50%;
}
article div.galerie div figure.big img {
  width: 100%;
}
article form.newsletter {
  width: 40%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
article form.newsletter label {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
article form.newsletter input {
  margin: 1em auto;
  width: 100%;
  padding: 1em;
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font: normal 400 0.9em/1 "Open Sans", sans-serif;
  background-color: #F5F5F5;
}

.col-12 {
  flex-basis: 100%;
}

.col-8 {
  flex-basis: 66.6666%;
}

.col-6 {
  flex-basis: 50%;
}

.col-4 {
  flex-basis: 33.3333%;
}

.col-3 {
  flex-basis: 25%;
}

.col-2 {
  flex-basis: 16.6666%;
}

.col-1 {
  flex-basis: 8.3333%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .col-12 {
    flex-basis: 100%;
  }

  .col-8 {
    flex-basis: 50%;
  }

  .col-6 {
    flex-basis: 50%;
  }

  .col-4 {
    flex-basis: 50%;
  }

  .col-3 {
    flex-basis: 50%;
  }

  .col-2 {
    flex-basis: 33.3333%;
  }

  .col-1 {
    flex-basis: 16.6666%;
  }
}
@media all and (max-width: 767px) {
  .col-12 {
    flex-basis: 100%;
  }

  .col-8 {
    flex-basis: 100%;
  }

  .col-6 {
    flex-basis: 100%;
  }

  .col-4 {
    flex-basis: 100%;
  }

  .col-3 {
    flex-basis: 100%;
  }

  .col-2 {
    flex-basis: 100%;
  }

  .col-1 {
    flex-basis: 100%;
  }
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
