nav.navbar{
    z-index: 300;
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    padding: 2em;
    div.logo{
        img.imglogo{
            width: 100px;
            height: auto;
        }
    }
    ul{
        display: flex;
        justify-content: flex-end;
        flex-flow: row wrap;
        li{
            list-style-type: none;
            align-self: center;
            padding: 0 0.5em;
            margin-top: 15px;
            &:nth-of-type(4){
                margin-right: 4em;
            }
            &:last-child{
                padding: 0 0 0 0.5em;
            }
            a{
                text-decoration: none;
                color: $black;
                position: relative;
                padding: 0 10px 10px 0;
                
                font-size: 1em;
                &::after {
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    position: absolute;
                    background: $black;
                    transition: width 0.3s ease 0s;
                    width: 0;
                }
                &:hover::after {
                    width: 50%;
                    left: 0;
                }
            }
            a.icon:hover::after, a.logo:hover::after{
                width: 0;
            }
        }
    }
    div.burger {
        display: none;
        padding: 0.5em;
        cursor: pointer;
        div.line {
            height: 2px;
            width: 35px;
            margin: 0.5em 0;
            background: $black;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
    }
    div.burger.white {
        div.line {
            background: $white;
        }
    }
}

nav.white{
    div.logo{
        img.imglogo{
            filter: invert(100%) brightness(120%) contrast(100%);
        }
    }
    ul li a{
        filter: invert(100%) brightness(120%) contrast(100%);
    }
}


nav.navbar.show div.burger div.line1 {
    transform: translate(-10px) rotate(45deg) translate(14px);
    background: $black;
}
nav.navbar.show div.burger div.line2 {
    opacity: 0;
    background: $black;
}
nav.navbar.show div.burger div.line3 {
    transform: translate(-10px) rotate(-45deg) translate(14px);
    background: $black;
}
nav.navbar.show ul.navlinks{
    transform: translateX(0%);
}


@media #{$tablet}{
    nav.navbar{
        justify-content: space-between;
        div.burger{
            display: block;
            z-index: 400;
        }
        ul.navlinks {
            padding: 4em;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 100%;
            font: $title-normal;
            font-size: 2em;
            flex-direction: column;
            justify-content: flex-start;
            background: $background;
            transform: translateX(100%);
            transition: transform 1s ease;
            li{
                margin: 0;
                padding: 0;
                width: 100%;
                &:nth-of-type(n+5){
                    flex-direction: row;
                }
                &:nth-of-type(n+5) a::before{
                    content: none;
                }
                &:nth-of-type(n+5) a:hover{
                    margin: 0;
                }
                a{
                    color: $black;
                    transition: all 0.3s;
                    &::before{
                        content: "";
                        width: 50px;
                        height: 2px;
                        background-color: $hover;
                        position: relative;
                        display: inline-block;
                        margin-right: 1em;
                        vertical-align: middle;
                    }
                    &::after{
                        display: none;
                    }
                    &:hover, &:focus{
                        margin-left: 1em;
                    }
                }
            }
        }
    }
    nav.white{
        ul li a{
            filter: none;
        }
    }
}

@media #{$mobile}{
    nav.navbar{
        justify-content: space-between;
        div.logo{
            flex-basis: 50%;
        }
        div.burger{
            display: block;
            z-index: 400;
        }
        ul.navlinks {
            padding: 4em;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 100%;
            font: $title-normal;
            font-size: 1.5em;
            flex-direction: column;
            justify-content: flex-start;
            background: $background;
            transform: translateX(100%);
            transition: transform 1s ease;
            li{
                margin: 0;
                padding: 0;
                width: 100%;
                &:nth-of-type(n+5){
                    flex-direction: row;
                }
                &:nth-of-type(n+5) a::before{
                    content: none;
                }
                &:nth-of-type(n+5) a:hover{
                    margin: 0;
                }
                a{
                    color: $black;
                    transition: all 0.3s;
                    &::before{
                        content: "";
                        width: 50px;
                        height: 2px;
                        background-color: $hover;
                        position: relative;
                        display: inline-block;
                        margin-right: 1em;
                        vertical-align: middle;
                    }
                    &::after{
                        display: none;
                    }
                    &:hover, &:focus{
                        margin-left: 1em;
                    }
                }
            }
        }
    }
    nav.white{
        ul li a{
            filter: none;
        }
    }
}