// Typography
$sans-serif-light: normal 300 1em/1 'Roboto', sans-serif;
$sans-serif-normal: normal normal 1em/1 'Roboto', sans-serif;
$sans-serif-bold: normal 700 1em/1 'Roboto', sans-serif;

$serif-normal: normal normal 1em/1 'Playfair Display', serif;
$serif-bold: normal 600 1em/1 'Playfair Display', serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #808080;
$lightgray: #d3d3d3;
$black: #000000;
$white: #ffffff;
$background: rgb(255, 253, 250);


$mobile: "all and(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";