// Typography
$body-light: normal 300 0.95em/1.5 'Open Sans', sans-serif;
$body-normal: normal 400 0.95em/1.5 'Open Sans', sans-serif;
$body-bold: normal 600 0.95em/1.5 'Open Sans', sans-serif;

$title-normal: normal 300 1em/1 'Archivo', sans-serif;
$title-bold: normal 400 1em/1 'Archivo', sans-serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$orange: #f6993f;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #808080;

//general
$lightgray: #d3d3d3;
$black: #1d1d1d;
$white: #ffffff;
$background: #fafafa;
$hover: #CBD5CC;

// Margin & padding
$margin: 1em 2em;
$padding: 3em;

// button crud
$green: #9fc957;
$dark-green: darken($green, 5%);
$edit: #fad43d;
$dark-edit: darken($edit, 5%);
$red: #ff3b3b;
$dark-red: darken($red, 5%);
$dark-lightgray: darken($lightgray, 5%);
// button

// Breaking points
$mobile: "all and(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
