// Typography
$sans-serif-light: normal 300 0.9em/1.5 'Open Sans', sans-serif;
$sans-serif-normal: normal 400 0.9em/1.5 'Open Sans', sans-serif;
$sans-serif-bold: normal 600 0.9em/1.5 'Open Sans', sans-serif;

$serif-normal: normal 400 1em/1 'Cormorant Garamond', serif;
$serif-bold: normal 700 1em/1 'Cormorant Garamond', serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$orange: #f6993f;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #808080;

//general
$lightgray: #d3d3d3;
$black: #000000;
$white: #ffffff;
$background: #F5F5F5;
$hover: #CBD5CC;

// Margin & padding
$margin: 1em 2em;

// button crud
$green: #578259;
$dark-green: darken($green, 5%);
$edit: #060c07;
$dark-edit: lighten($edit, 5%);
$red: #e3342f;
$dark-red: darken($red, 5%);
// button

// Breaking points
$mobile: "all and(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
