@import 'variables';
@import 'includes/navbar';
@import 'includes/footer';
@import 'pages/home';
@import 'pages/contact';
@import 'pages/about';
@import 'pages/legal';
@import 'pages/loggedin';
@import 'pages/workshop';
@import 'pages/item';
@import 'pages/product';
@import 'pages/table';
@import 'pages/profil';
@import 'pages/category';
@import 'pages/booking';
@import 'pages/users';



//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: $background;
    h1, h2, h3, h4, h5, p, a, address, input, label, strong, ul, li, span, textarea{
        color: $black;
        font: $body-normal;
    }
    h1, h2, h3, h4, h5{
        font: $title-normal;
    }
    h1{
        font-size: 3.5em;
    }
    h2{
        font-size: 3em;
    }
    h3{
        font-size: 2em;
        line-height: 1.7em;
    }
    h4{
        font-size: 1.2em;
    }
    address{
        text-decoration: none;
        font-style: normal;
    }
    
    .container{
        margin: 4em;
    }
}

a{
    text-decoration: none;
    font-style: normal;
    transition: color .3s ease-in-out;
}

li{
    list-style: none;
}

label:not(.checkboxlabel){
    text-transform: uppercase;
    width: 100%;
}
input:not(.checkbox), select, textarea{
    margin: 1em auto;
    width: 100%;
    padding: 1em;
    outline: none;
    border: 1px solid $lightgray;
}
input:not(.checkbox):focus, select:focus, textarea:focus{
    border: 1px solid $hover;
}
.checkboxlabel a {
    text-decoration: none;
    font: $body-normal;
    color: $gray;
    &:hover, &:focus{
        color: $black;  
    }
}

// FIRST SILDE demi photo
div.first-slide{
    width: 100%;
    height: 100vh;
    .img-background{
        width: 50%;
        height: 100vh;
        position: absolute;
    }
    div.title{
        position: absolute;
        width: 50%;
        min-height: 100vh;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding: 4em;
    }
}


//FLEXBOX
.col-12{flex-basis: 100%;}
.col-8{flex-basis: 66.6666%;}
.col-6{flex-basis: 50%;}
.col-4{flex-basis: 33.3333%;}
.col-3{flex-basis: 25%;}
.col-2{flex-basis: 16.6666%;}
.col-1{flex-basis: 8.3333%;}

@media #{$tablet}{
    .col-12{flex-basis: 100%;}
    .col-8{flex-basis: 50%;}
    .col-6{flex-basis: 50%;}
    .col-4{flex-basis: 50%}
    .col-3{flex-basis: 50%;}
    .col-2{flex-basis: 33.3333%;}
    .col-1{flex-basis: 16.6666%;}
}

@media #{$mobile}{
    .col-12{flex-basis: 100%;}
    .col-8{flex-basis: 100%;}
    .col-6{flex-basis: 100%;}
    .col-4{flex-basis: 100%;}
    .col-3{flex-basis: 100%;}
    .col-2{flex-basis: 100%;}
    .col-1{flex-basis: 100%;}
}

// BUTTON
.custom-button{
	display: inline-block;
	cursor: pointer;
	color: $white;
    text-transform: uppercase;
    font: $body-bold;
    font-size: 0.75em;
    text-align: center;
    letter-spacing: 2px;
    width: 160px;
	padding:10px 20px;
    border: 2px solid $hover;
    background: $hover;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index:1;
    &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background: $white;
        transition: all 0.3s ease;
    }
    &:hover {
        color: $black;
    }
    &:hover::after {
        left: 0;
        width: 100%;
    }
    &:active {
        top: 2px;
    }      
}

.btn-add {
	background-color: $green;
	display:inline-block;
	cursor:pointer;
	color: $white;
	font: $body-normal;
	padding:10px 20px;
	text-decoration:none;
    &:hover {
        background-color: $dark-green;
        color:$white;
    }
    &:active {
        position:relative;
        top:1px;
    }
}

.btn-delete {
	background-color:$red;
	cursor:pointer;
	color:$white;
    font: $body-normal;
	padding:10px 20px;
	text-decoration:none;
    border: none;
    outline: none;
    &:hover {
        background-color:$dark-red;
        color:$white;
    }
}

.btn-edit {
	background-color:$edit;
	cursor:pointer;
	color:$white;
    font: $body-normal;
	padding:10px 20px;
	text-decoration:none;
    border: none;
    outline: none;
    &:hover {
        background-color:$dark-edit;
        color:$white;
    }
}

.btn-back {
	background-color:$lightgray;
	cursor:pointer;
	color:$white;
    font: $body-normal;
	padding:10px 20px;
	text-decoration:none;
    border: none;
    outline: none;
    &:hover {
        background-color:$dark-lightgray;
        color:$white;
    }
}


// MODAL
.modal {
    display: none;
    position: fixed; 
    z-index: 400; 
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    overflow: auto;
    .modal-content {
        background-color: $white;
        padding: 4em;
        width: 100%;
        height: 100vh;
        .close {
            color: $lightgray;
            font-size: 28px;
            font-weight: normal;
            &:hover, &:focus{
                color: $black;
                text-decoration: none;
                cursor: pointer;
            }
        }
        form{
            h3{
                margin: 1rem 2rem 1rem 0;
            }
            .btn-edit{
                width: auto;
            }
        }
    }
}

// ALERT
.alert{
    width: 100%;
    padding: 1em;
    border-radius: 10px;
} 
.alert-danger{
    color: #D8000C;
    background-color: #FFBABA;
}
.alert-warning{
    color: #9F6000;
    background-color: #FEEFB3;
}
.alert-success{
    color: #270;
    background-color: #DFF2BF;
}