@import 'variables';
@import 'navbar';
@import 'home';
@import 'footer';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    font: $sans-serif-normal;
    background-color: $background;
}

.col-12{flex-basis: 100%;}
.col-8{flex-basis: 66.6666%;}
.col-6{flex-basis: 50%;}
.col-4{flex-basis: 33.3333%;}
.col-3{flex-basis: 25%;}
.col-2{flex-basis: 16.6666%;}
.col-1{flex-basis: 8.3333%;}

@media #{$tablet}{
    .col-12{flex-basis: 100%;}
    .col-8{flex-basis: 50%;}
    .col-6{flex-basis: 50%;}
    .col-4{flex-basis: 50%}
    .col-3{flex-basis: 50%;}
    .col-2{flex-basis: 33.3333%;}
    .col-1{flex-basis: 16.6666%;}
}

@media #{$mobile}{
    .col-12{flex-basis: 100%;}
    .col-8{flex-basis: 100%;}
    .col-6{flex-basis: 100%;}
    .col-4{flex-basis: 100%;}
    .col-3{flex-basis: 100%;}
    .col-2{flex-basis: 100%;}
    .col-1{flex-basis: 100%;}
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}