article.apropospage{
    .first-slide{
        .img-background{
            background-image: url("../../../public/images/1.jpg");
            right: 0;
        }
    }
    .container {
        div.history{
            width: 100%;
            height: 100vh;
            margin: 10rem auto;
            display: flex;
            flex-flow: row wrap;
            padding: 2em 0;
            & > div{
                padding: 2em;
            }
            .author{
                text-align: center;
                figure{
                    height: 90%;
                    width: 100%;
                    img{
                        height: 100%;
                        width: 100%;
                        display: block;
                        object-fit: cover;
                    }
                    .rotating-text {
                        animation: rotate 8s linear infinite;
                        transform-origin: 50% 50%;
                        letter-spacing: 3px;
                        margin-top: -5em;
                        margin-right: -35em;
                        @keyframes rotate {
                            100% {
                                transform: rotate(1turn);
                            }
                        }
                    }
                }

            }
            .text{
                text-align: justify;
                align-self: center;
            }
        }
        div.galerie{
            width: 100%;
            margin: 0 auto;
            height: 100vh;
            display: flex;
            flex-flow: row wrap;
            div{
                padding: 4em 2em;
            }
            .picture-one{
                background: url("/images/3.jpg") no-repeat;
                background-size: cover;
                background-origin: content-box;
                width: 50%;
                height: 50%;
                &:hover{
                    background: url("/images/1.jpg") no-repeat;
                    background-size: cover;
                    background-origin: content-box;
                }
            }
            .picture-two{
                background: url("/images/3.jpg") no-repeat;
                background-size: cover;
                background-origin: content-box;
                width: 50%;
                height: 50%;
                &:hover{
                    background: url("/images/1.jpg") no-repeat;
                    background-size: cover;
                    background-origin: content-box;
                }
            }
            .picture-three{
                background: url("/images/3.jpg") no-repeat;
                background-size: cover;
                background-origin: content-box;
                width: 50%;
                height: 50%;
                &:hover{
                    background: url("/images/1.jpg") no-repeat;
                    background-size: cover;
                    background-origin: content-box;
                }
            }
            .picture-four{
                background: url("/images/3.jpg") no-repeat;
                background-size: cover;
                background-origin: content-box;
                width: 50%;
                height: 50%;
                &:hover{
                    background: url("/images/1.jpg") no-repeat;
                    background-size: cover;
                    background-origin: content-box;
                }
            }
        }
        form.newsletter{
            width: 50%;
            height: auto;
            text-align: center;
            margin: 0 auto;
            padding: 10rem 0;
            label{
                margin: 0 auto;
                text-align: center;
            }
            p{
                border: 1px solid $black;
                display:flex;
                flex-direction:row;
                margin: 1em auto;
                input{
                    margin: 0;
                    border:none;
                    &:first-child{
                        margin: 0;
                        width: 300%;
                    }
                    &:last-child{
                        background-color: $white;
                        font-size: 1.5em;
                        padding: 0 1em 0 0;
                        text-align: right;
                        transition: all 0.5s;
                        cursor: pointer;
                        &:hover{
                            padding: 0 0.7em 0 0;
                        }
                    }
                }
            }
        }
    }
}


@media #{$mobile}{
    article.apropospage{
        .container{
            margin: 0;
            div.history{
                .author{
                    figure{
                        .rotating-text {
                            display: none;
                        }
                    }
                }
            }
            .galerie{
                .picture-one{
                    width: 100%;
                    height: 100%;
                }
                .picture-two{
                    width: 100%;
                    height: 100%;
                }
                .picture-three{
                    width: 100%;
                    height: 100%;
                }
                .picture-four{
                    width: 100%;
                    height: 100%;
                }
            }
            form.newsletter{
                width: 90%;
            }
        }
    }
}

@media #{$tablet}{
    article.apropospage{
        max-width: 100%;
        .container{
            margin: 0;
            div.history{
                .author{
                    figure{
                        .rotating-text {
                            display: none;
                        }
                    }
                }
            }
            .galerie{
                margin: 0;
                padding: 0;
                div{
                    margin: 0;
                    padding: 1em;
                }
                .picture-one{
                    width: 100%;
                    height: 50%;
                }
                .picture-two{
                    width: 100%;
                    height: 50%;
                }
                .picture-three{
                    width: 100%;
                    height: 50%;
                }
                .picture-four{
                    width: 100%;
                    height: 50%;
                }
            }
            form.newsletter{
                width: 90%;
            }
        }
    }
}