article.apropospage{
    .first-slide{
        .img-background{
            background-image: url("../../../public/images/1.jpg");
            right: 0;
        }
    }
    .container {
        div.history{
            width: 100%;
            height: 100vh;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            padding: 2em;
            & > div{
                padding: 2em;
            }
            .author{
                text-align: center;
                figure{
                    height: 90%;
                    width: 100%;
                    img{
                        height: 100%;
                        width: 100%;
                        display: block;
                        object-fit: cover;
                    }
                }
            }
            .text{
                text-align: justify;
                align-self: center;
            }
        }
        div.galerie{
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            ul{
                padding: 2em;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                li{
                    list-style-type: none;
                    flex-grow: 1;
                    margin: 2em;
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
        form.newsletter{
            width: 50%;
            height: auto;
            text-align: center;
            margin: 0 auto;
            padding: 10em 0;
            label{
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}