// MOBILIER
.reservation{
    padding: 8em 4em 4em;
    .admin-link{
        margin: 1em 1em 1em 0;
    }
}

// ATELIER
.atelier_utilisateur{
    padding: 8em 4em 4em;
    .admin-link{
        margin: 1em 1em 1em 0;
    }
}