article.contactpage{
    .first-slide{
        .img-background{
            background-image: url("../../../public/images/1-16.jpg");
            background-position: bottom;
            left: 0;
        }
    }
    .container{
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        height: auto;
        .info address
        {
            text-align: center;
            a{
                color: $black;
                font: $body-normal;
                font-size: 1.2em;
                &:hover, &:focus{
                    color: $gray;  
                }
            }
        }
        .contact{
            margin: 0 3em;
            p{
                textarea{
                    height: 100px;
                }
                select{
                    appearance:none;
                    background-image:
                    linear-gradient(45deg, transparent 50%, gray 50%),
                    linear-gradient(135deg, gray 50%, transparent 50%),
                    linear-gradient(to right, #ccc, #ccc);
                    background-position:
                        calc(100% - 25px),
                        calc(100% - 20px),
                        calc(100% - 3.5em);
                    background-size:
                        5px 5px,
                        5px 5px,
                        1px 1.5em;
                    background-repeat: no-repeat;
                }
            }
        }
    }

}