article.contactpage{

    .first-slide{

        .img-background{
            background-image: url("../../../public/images/nathan-oakley-2.jpg");
            background-position: right center;
            background-size: cover;
            left: 0;
        }

        .title{
            left:50%;
            address{
                p{
                    margin: 1em 0 0;
                    font-size: 1em;
                    a{
                        color: $black;
                        font: $body-normal;
                        font-size: 1em;
                        &:hover, &:focus{
                            color: $gray;  
                        }
                    }
                }

            }
        }

    }

    .container{
        display: flex;
        height: auto;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 4em;
        .contact{
            padding-left: 4em;
            margin: 0 auto;
            p{
                textarea{
                    height: 100px;
                }

                select{
                    appearance:none;
                    background-image:
                    linear-gradient(45deg, transparent 50%, gray 50%),
                    linear-gradient(135deg, gray 50%, transparent 50%),
                    linear-gradient(to right, #ccc, #ccc);
                    background-position:
                        calc(100% - 25px),
                        calc(100% - 20px),
                        calc(100% - 3.5em);
                    background-size:
                        5px 5px,
                        5px 5px,
                        1px 1.5em;
                    background-repeat: no-repeat;
                }

            }
        }
    }

}

@media #{$tablet}{
}

@media #{$mobile}{
    article.contactpage{
        .first-slide{
            .img-background{
                width: 100%;
            }
            .title{
                width: 100%;
                padding: 1em;
                left: 0;
                &>*{
                    color: $white;
                }
                address{
                    p{
                        a{
                            color: $white;
                        }
                    }
                }
                
            }
        }
        .container{
            margin: 0;
            .contact{
                padding: 1em;
            }
        }
    }
}