// ACCUEIL
.allitems{
    display: flex;
    width: 100%;
    height: 100vh;
    a{
        flex-basis: 50%;
        .half-slide{
            overflow: hidden;
            .title{
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url("../../../public/images/thom-bradley.jpg");
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100vh;
                transition: all .5s;
                transform: scale(1.02);
                &:hover{
                    transform: scale(1);
                }
                h2{
                    color: $white;
                }
            }
            .two{
                background-image: url("../../../public/images/ryan-riggins.jpg");
                background-position: center;
            }
        }
    }

}


.item{
    min-height: 100vh;
    width: 100%;
    padding: $padding;
    display: flex;
    flex-flow: row wrap;
    padding: 8em 4em 4em;
    .item-title{
        margin: 1em;
        padding: 1em 0;
        h2{
            width: 100%;
            margin: 0;
        }
        p{
            width: 60%;
            padding: 1em 0;
        }
    }
    .admin-link{
        display: flex;
        margin: 1em 1em 1em 0;
        li{
            margin-right: 1em;
            align-self: center;
            a{
                font: $body-normal;
                font-size: 1em;
            }
        }
    }
    .mobilier{
        padding: 2em;
        a{
            
            figure{
                height: 300px;
                width: 100%;
                overflow: hidden;
                transition: all .5s ease-in-out;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
            &:hover figure{
                border-radius: 15px;
            }
            &:hover p:last-of-type{
                color: $black;
            }
            p:last-of-type{
                font-style: oblique;
                color: $gray;
                transition: all .2s ease-in-out;
            }

            .crud{
                display: none;
            }
        }
    }
 
    .unactive{
        background-color: $unactive;
    }

}

.form-create.mobilier, .form-edit.mobilier{
    padding: 8em 4em 4em;
}

@media #{$tablet}{
    .allitems{
        height: auto;
        flex-flow: column wrap;
        a{
            flex-basis: 100%;
        }
    }
}
@media #{$mobile}{
    .allitems{
        height: auto;
        flex-flow: column wrap;
        a{
            flex-basis: 100%;
        }
    }
    .item{
        padding-left: 1em;
        padding-right: 1em;
        .item-title{
            p{
                width: 100%;
            }
        }
        .mobilier{
            padding: 0.5em;
        }
    }
}