.allitems{
    display: flex;
    width: 100%;
    height: 100vh;
    .half-slide{
        flex-basis: 50%;
        overflow: hidden;
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url("../../../public/images/halacious.jpg");
            background-size: cover;
            background-position: center bottom;
            width: 100%;
            height: 100vh;
            transition: all .5s;
            transform: scale(1.05);
            &:hover{
                transform: scale(1);
            }
            h2{
                color: $white;
            }
        }
        .two{
            background-image: url("../../../public/images/nathan-oakley.jpg");
        }
    }
}

.item{
    min-height: 100vh;
    width: 100%;
    padding: $padding;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .mobilier{
        figure{
            height: 300px;
            width: 100%;
            overflow: hidden;
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        &:hover figure{
            transition: all 1s ease-in-out;
            border-radius: 5%;
        }
        p:nth-of-type(2){
            font-style: oblique;
            color: $gray;
        }
    }
    .unactive{
        background-color: $lightgray;
    }

}