.legal{
    padding: 10em 2em 5em;
    width: 100%;
    height: auto;
    h1{
        text-align: center;
        line-height: 5em;
    }
    ol{
        li{
            width: 90%;
            margin: 0 auto;
            h2{
                line-height: 2em;
            }
        }
    }
}