.legal{
    margin-bottom: 2em;
    width: 100%;
    height: auto;
    h1{
        text-align: center;
        line-height: 5em;
    }
    ol{
        li{
            width: 80%;
            margin: 0 auto;
            padding-bottom: 2em;
            h2{
                line-height: 2em;
                font-size: 2em;
            }
            p{
                text-align: justify;
            }
        }
    }
}