table{
    width: 100%;
    text-align: left;
    background-color: $white;
    padding: 2em;
    font: $body-normal;
    tr{
        background-color: $white;
        &:nth-of-type(2n+1){
            background-color: $unactive;
        }
        th{
            padding: 2em;
        }
        td{ 
            padding: 1em;
        }
    }
}


@media #{$tablet}{

}
@media #{$mobile}{
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}