.atelier{
    padding: 10rem 0 5rem 0;
    h1{
        text-align: center;
    }
    .btn-add{
        margin-left: 5%;
    }

    .workshop{
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        background-color: $white;
        justify-content: flex-end;
        padding: 2rem;
        margin: 3rem auto;
        &:not(:first-child){
            margin: 1rem auto 3rem;
        }
        figure{
            flex-basis: 50%;
            height: 400px;
            overflow: hidden;
            padding: 0 5rem 0 0;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .workshop-info{
            flex-basis: 50%;
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            padding: 1rem 0 1rem 1rem;
            h2{
                margin: 1rem 1rem 1rem 0;
            }
            .detail{
                border-bottom: 1px solid $black;
                padding-bottom: 1rem;
                text-transform: uppercase;
            }
        }

        .crud{
            margin: 2rem 0 0;
        }

    }



}

.form-edit, .form-create{
    width: 70%;
    margin: 0 auto;
    .check{
        display: flex;
        input, label{
            flex-basis: auto;
        }
    }
    .cta{
        width: 100%;
        .btn-edit{
            width: auto;
        }
    }
}


// FORM INSCRIPTION
.modal {
    display: none;
    position: fixed; 
    z-index: 400; 
    padding: 4rem; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255, 1);
    backdrop-filter: blur(1px);
    .modal-content {
        background-color: $white;
        margin: auto;
        padding: 4rem;
        border: 1px solid $lightgray;
        width: 80%;
        .close {
            color: $lightgray;
            font-size: 28px;
            font-weight: normal;
            &:hover, &:focus{
                color: $black;
                text-decoration: none;
                cursor: pointer;
            }
        }
        form{
            h3{
                margin: 1rem 2rem 1rem 0;
            }
            .btn-edit{
                width: auto;
            }
        }
    }
}



